
body {
    background: hsl(235, 47%, 14%);
}


h1 {
  color:rgb(50, 85, 202);
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  position: absolute;
  float: right;
  left: 40px;

}

p {
  color:lightslategray;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  position: absolute;
  float: right;
  left: 40px;
  top:50px;
  
}

label {
  color:lightslategray;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  position: relative;
  
}

input {
    cursor: pointer;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    background:  rgb(58, 55, 71);
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
  }

  /*INPUT 1 ########################################*/
  input[value="1"] {
  -webkit-appearance: none;
	width: 48px;
  height: 48px;
	background:  rgb(58, 55, 71);
	border-radius: 0.3em;
	transition: background-color 300ms, border-color 300ms;
  -webkit-mask-image: url(superhappy.svg);
  mask-image: url(superhappy.svg);
  background-size: cover;
  margin-right:20px;
  mask-size: cover;
  mask-size: contain;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  }
  
  input[value="1"]:hover,
  input[value="1"]:checked,
  input[value="1"]:focus {
  -webkit-appearance: none;
	border-radius: 0.3em;
	transition: background-color 300ms, border-color 300ms;
  background-color: rgb(218, 31, 31);
  }
  
  
  /*INPUT 2 ########################################*/

  input[value="2"] {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    background:  rgb(58, 55, 71);
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
    -webkit-mask-image: url(happy.svg);
    mask-image: url(happy.svg);
    background-size: cover;
    margin-right:20px;
    mask-size: cover;
    mask-size: contain;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    }
    
    input[value="2"]:hover,
    input[value="2"]:checked,
    input[value="2"]:focus {
    -webkit-appearance: none;
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
    background-color: rgb(204, 34, 238);
    }

      
  /*INPUT 3 ########################################*/

  input[value="3"] {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    background:  rgb(58, 55, 71);
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
    -webkit-mask-image: url(neutral.svg);
    mask-image: url(neutral.svg);
    background-size: cover;
    margin-right:20px;
    mask-size: cover;
    mask-size: contain;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    }
    
    input[value="3"]:hover,
    input[value="3"]:checked,
    input[value="3"]:focus {
    -webkit-appearance: none;
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;
    background-color: rgb(25, 182, 230);
    }



  /*Play Pause Button ########################################*/


  .playbutton {
    display: table;
    padding: 7px 15px 8px 15px;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(235, 47%, 14%);
    cursor: pointer;
    opacity: 0.9;
    border-radius: 3px;
}